.profile-container{
    display: flex;
    margin: 1em 0 1em 0;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    .profilepic{
        max-width: 120px;
        padding-top: 3em;
        margin: auto;
       
        
    }
    .title{
        text-align: center;
        p{
            margin-top: -20px;
        }
    }
   
}
