canvas {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    margin: auto;
  outline: none;

  @media only screen and (max-width: 450px) {

margin-top: 5em;
width: 10px;
height: 50%;

   
 
    
  }
    &:active{
      outline: none;
    }

  }